@model GardenationApp.ViewModels.CreateGardenVM

@{
    ViewBag.Title = "Create";
}

<h2>Create Your Garden</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <span class="col-md-2">Name your Garden</span>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <span class="col-md-2">Choose your Size</span>
            <div class="col-md-10">
                @Html.DropDownList("SizeChoices", null, htmlAttributes: new { @class = "form-control"})
            </div>
        </div>
        <span class="col-xs-12">Choose your Veggies</span>
        <div class="form-group">
            <span class="col-md-2">Vegetable Choice 1</span>
            <div class="col-md-10">
                @Html.DropDownList("VegetableTypeID1", null, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <span class="col-md-2">Vegetable Choice 2</span>
            <div class="col-md-10">
                @Html.DropDownList("VegetableTypeID2", null, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <span class="col-md-2">Vegetable Choice 3</span>
            <div class="col-md-10">
                @Html.DropDownList("VegetableTypeID3", null, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <span class="col-md-2">Vegetable Choice 4</span>
            <div class="col-md-10">
                @Html.DropDownList("VegetableTypeID4", null, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            What city is your garden closest to?
            <div class="col-md-10">
                @Html.DropDownList("CityID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CityID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create Garden!" class="btn btn-default" />
            </div>
        </div>
    </div>
}



<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
