@model GardenationApp.Models.Garden

@{
    ViewBag.Title = "Details";
}


<h2>@Html.DisplayFor(model => model.Name)</h2>
<span>
    @Html.ActionLink("Edit", "Edit", new { id = Model.GardenID }, new { @class = "btn btn-default" })    
    @Html.ActionLink("Back to List", "Index", new { id = Model.GardenID }, new { @class = "btn btn-default" })
</span>

<div class="row garden">

            @*Create a responsive square for each vegetable in the garden model*@
            @foreach (var item in Model.Vegetables)
            {
                <div class="col-xs-6 bg-danger sqft veg@(item.VegetableID)"><span class="@(item.VegetableType.Name)"></span><span class="droplet-reference"></span></div>
            }

</div>


@*@for (var i = 0; i < 10; i++)
{
    <div class='col-xs-12 col-md-8 col-md-offset-2 alert alert-info alert-dismissible fade in' role='alert'>
     <button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button>
        <span class='glyphicon glyphicon-tint' aria-hidden='true'></span>Water your garden
    </div>
}*@




<div>
    <h4>Task List</h4>
     @* for each statement that utilizes objects in promtlistitems  *@
    @foreach (var item in Model.PromptListItems)
    {
        //promtlistitem of 1 equals water
        if (item.PromptListItemID == 1)
        {
            @*<div class='col-xs-12 col-md-8 col-md-offset-2 alert alert-info alert-dismissible fade in' role='alert'>
                <button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button>
                <span class='glyphicon glyphicon-tint' aria-hidden='true'></span>Water your garden
            </div>*@
            foreach (var veggie in Model.Vegetables)
            {
                if (veggie.VegetableID == 1)
                {
                    <div class='col-xs-12 col-md-8 col-md-offset-2 alert alert-info alert-dismissible fade in' role='alert'>
                        <button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button>
                        <span class='glyphicon glyphicon-tint' aria-hidden='true'></span>Water your @veggie.VegetableType.Name
                    </div>
                }

                if (veggie.VegetableID == 2)
                {
                    <div class='col-xs-12 col-md-8 col-md-offset-2 alert alert-info alert-dismissible fade in' role='alert'>
                        <button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button>
                        <span class='glyphicon glyphicon-tint' aria-hidden='true'></span>Water your @veggie.VegetableType.Name
                    </div>
                }

                if (veggie.VegetableID == 3)
                {
                    <div class='col-xs-12 col-md-8 col-md-offset-2 alert alert-info alert-dismissible fade in' role='alert'>
                        <button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button>
                        <span class='glyphicon glyphicon-tint' aria-hidden='true'></span>Water your @veggie.VegetableType.Name
                    </div>
                }

                if (veggie.VegetableID == 4)
                {
                    <div class='col-xs-12 col-md-8 col-md-offset-2 alert alert-info alert-dismissible fade in' role='alert'>
                        <button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button>
                        <span class='glyphicon glyphicon-tint' aria-hidden='true'></span>Water your @veggie.VegetableType.Name
                    </div>
                }
            }
        }
        if (item.PromptListItemID == 3)
        {
            <div class='col-xs-12 col-md-8 col-md-offset-2 alert alert-warning alert-dismissible fade in' role='alert'>
                <button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button>
                <span class='glyphicon glyphicon-grain' aria-hidden='true'></span>Harvest your Garden on @item.TriggerDate
            </div>
        }
        if (item.PromptListItemID == 2)
        {
            <div class='col-xs-12 col-md-8 col-md-offset-2 alert alert-success alert-dismissible fade in' role='alert'>
                <button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button>
                <span class='glyphicon glyphicon-scissors' aria-hidden='true'></span>Weed your garden 
            </div>
        }

    }

    <dl class="dl-horizontal">
        <dt>

        </dt>

        
        <dd>
            @Html.DisplayFor(model => model.LastVisitedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SqFeet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SqFeet)
        </dd>

        <dt>
            City Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City.Name)
        </dd>

    </dl>
</div>

