@model GardenationApp.Models.Garden

@{
    ViewBag.Title = "Details";
}


<h2>@Html.DisplayFor(model => model.Name)</h2>
<span>
    @Html.ActionLink("Edit", "Edit", new { id = Model.GardenID }, new { @class = "btn btn-default" })    
    @Html.ActionLink("Back to List", "Index", new { id = Model.GardenID }, new { @class = "btn btn-default" })
</span>

<div class="row garden">

            @*Create a responsive square for each vegetable in the garden model*@
            @foreach (var item in Model.Vegetables)
            {
                <div class="col-xs-6 bg-danger sqft veg@(item.VegetableID)"><span class="@(item.VegetableType.Name)"></span><span class="droplet-reference"></span></div>
            }

</div>

<div class="row">
        @*Create 10 new placeholder tasks using bootstrap modules*@

        @for (var i = 0; i < 10; i++)
        {
            <div class='col-xs-12 alert alert-info alert-dismissible fade in' role='alert'><button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button><span class='glyphicon glyphicon-tint' aria-hidden='true'></span>Water your garden</div>
            @*column structure for full screen alerts instead of 1/2 screen: col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3*@
        }
</div>










<div>
    <h4></h4>


    <dl class="dl-horizontal">
        <dt>

        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.LastVisitedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastVisitedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SqFeet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SqFeet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City.Name)
        </dd>

    </dl>
</div>

