@model GardenationApp.Models.Garden

@{
    ViewBag.Title = "Details";
}


<h2>Garden: @Html.DisplayFor(model => model.Name)</h2>
<span>
    @Html.ActionLink("Edit", "Edit", new { id = Model.GardenID }, new { @class = "btn btn-default" })    
    @Html.ActionLink("Back to List", "Index", new { id = Model.GardenID }, new { @class = "btn btn-default" })
</span>

<div class="row garden@(Model.SqFeet)">

            @*Create a responsive square for each vegetable in the garden model*@
            @foreach (var item in Model.Vegetables)
            {
                <div class="@(ViewBag.BootstrapColumnClass) bg-danger sqft@(Model.SqFeet) veg@(item.VegetableID)"><span class="@(item.VegetableType.Name)"></span><span class="droplet-reference"></span></div>
            }

</div>
<h3>ToDo</h3>

@*for each prompt, show it as a to-do if it has not been completed*@
@foreach (var prompt in Model.PromptListItems)
{
    if (prompt.Complete == false)
    {
        <div class='col-xs-12 col-md-8 col-md-offset-2 alert @(prompt.PromptListType.ColorClass) alert-dismissible fade in @(prompt.VegetableReference)' role='alert'>
            <button class="prompt-info" aria-label="More Information" onclick=""><i class=" glyphicon glyphicon-align-left glyphicon-info-sign"></i></button>

            @*Action command to change the prompt complete propery to true*@
            @using (Html.BeginForm("Complete", "PromptListItems", FormMethod.Post))
            {
                
                @Html.AntiForgeryToken()
                <input id="id" name="id" type="hidden" value="@prompt.PromptListItemID"/>@*pass prompt id to controller*@
                <button><span class="glyphicon glyphicon-unchecked prompt-checkbox"></span></button>
            }
            <span class='@(prompt.PromptListType.IconClass)' aria-hidden='true'></span><span class="text-center prompt-message"><strike>@(prompt.Message)</strike> </span>
        </div>
    }

}

<hr />

<h3>Dunzo</h3>
@foreach (var prompt in Model.PromptListItems)
{
    if (prompt.Complete == true)
    {
        <div class='col-xs-12 col-md-8 col-md-offset-2 alert @(prompt.PromptListType.ColorClass) alert-dismissible fade in @(prompt.VegetableReference)' role='alert'>
            <button class="prompt-info" aria-label="More Information" onclick=""><span class=" glyphicon glyphicon-align-left glyphicon-info-sign"></span></button>
            <button class=" prompt-checkbox"><span class="glyphicon glyphicon-check"></span></button>
            <span class='@(prompt.PromptListType.IconClass)' aria-hidden='true'></span><span class="text-center prompt-message">@(prompt.Message) </span>
        </div>
    }

}
