@model GardenationApp.Models.Garden

@{
    ViewBag.Title = "Details";
}

<style>
    

</style>

<h2>@Html.DisplayFor(model => model.Name)</h2>

<div class="row garden">
    @foreach (var item in Model.Vegetables)
    {
        <div class="col-xs-6 bg-danger sqft veg@(item.VegetableID)"><span class="@(item.VegetableType.Name)"></span><span class="droplet-reference"></span></div>
    }
</div>

@for (var i = 0; i < 10; i++)
{
    <div class='col-xs-12 col-md-8 col-md-offset-2 alert alert-info alert-dismissible fade in' role='alert'><button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button><span class='glyphicon glyphicon-tint' aria-hidden='true'></span>Water your garden</div>
}



<div>
    <h4></h4>


    <dl class="dl-horizontal">
        <dt>
            
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.LastVisitedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastVisitedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SqFeet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SqFeet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.GardenID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
<script src="~/Scripts/GardenScript.js"></script>