@model GardenationApp.Models.Garden

@{
    ViewBag.Title = "Details";
}


<h2>@Html.DisplayFor(model => model.Name)</h2>
<span>
    @Html.ActionLink("Edit", "Edit", new { id = Model.GardenID }, new { @class = "btn btn-default" })    
    @Html.ActionLink("Back to List", "Index", new { id = Model.GardenID }, new { @class = "btn btn-default" })
</span>

<div class="row garden@(Model.SqFeet)">

            @*Create a responsive square for each vegetable in the garden model*@
            @foreach (var item in Model.Vegetables)
            {
                <div class="@(ViewBag.BootstrapColumnClass) bg-danger sqft@(Model.SqFeet) veg@(item.VegetableID)"><span class="@(item.VegetableType.Name)"></span><span class="droplet-reference"></span></div>
            }

</div>


@foreach(var prompt in Model.PromptListItems)
{
    <div class='col-xs-12 col-md-8 col-md-offset-2 alert @(prompt.PromptListType.ColorClass) alert-dismissible fade in @(prompt.VegetableReference)' role='alert'>
        <button class="prompt-info" aria-label="More Information" onclick="ShowInformation()"><i class=" glyphicon glyphicon-align-left glyphicon-info-sign"></i></button>
        <button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'><i class="glyphicon glyphicon-unchecked prompt-checkbox"></i></span></button>
        <span class='@(prompt.PromptListType.IconClass)' aria-hidden='true'></span><span class="text-center">@(prompt.Message) </span>
    </div>
}


