@model GardenationApp.Models.VegetableType

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>VegetableType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WaterFrequency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WaterFrequency)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImagePath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImagePath)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EquipmentNeeded)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EquipmentNeeded)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HarvestDateMod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HarvestDateMod)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.VegetableTypeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
