@model IEnumerable<GardenationApp.Models.City>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WeatherType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SpecialMessage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SpringFrostDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FallFrostDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.State)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WeatherType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SpecialMessage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SpringFrostDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FallFrostDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CityID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CityID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CityID })
        </td>
    </tr>
}

</table>
