@model GardenationApp.Models.PromptListItem

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PromptListItem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TriggerDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TriggerDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VegetableReference)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VegetableReference)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Message)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Message)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Garden.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Garden.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PromptListType.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PromptListType.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PromptListItemID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
