@model GardenationApp.Models.Vegetable

@{
    ViewBag.Title = "Create";
}


<h2>Add Vegetables to Your Garden</h2>
<h3>Or go @Html.ActionLink("back to Your garden", "Index", "Gardens");</h3>

@using (Html.BeginForm()) 

{
    @Html.AntiForgeryToken()
    <div>
        <div class="form-group">
            @Html.LabelFor(model => model.GardenID, "GardenID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("GardenID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.GardenID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.VegetableTypeID, "VegetableTypeID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("VegetableTypeID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.VegetableTypeID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Add this vegetable" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
