@model GardenationApp.Models.Vegetable

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Vegetable</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.HarvestDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HarvestDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SowDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SowDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Garden.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Garden.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VegetableType.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VegetableType.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.VegetableID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
