@model IEnumerable<GardenationApp.Models.Vegetable>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShortDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VegetableImagePath)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WaterFrequency)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WaterInstructions)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HarvestDateMod)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SeedsPerSqFt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExtraSupportType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YearlyHarvestAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SowDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Garden.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShortDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VegetableImagePath)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WaterFrequency)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WaterInstructions)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HarvestDateMod)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SeedsPerSqFt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExtraSupportType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.YearlyHarvestAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SowDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Garden.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.VegetableID }) |
            @Html.ActionLink("Details", "Details", new { id=item.VegetableID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.VegetableID })
        </td>
    </tr>
}

</table>
